@import '../../styles/base.scss';

.ComparisonButton {
  align-self: center;
  background-color: $c-blue;
  color: white;
  grid-column: span 4;

  @include enhanceForMedia(desktop) {
    grid-column: span 1;
  }
}

.ComparisonButton__icon {
  margin-right: 1ex;
  transition: transform 0.5s ease-in-out;
}

.ComparisonButton__icon--rotated {
  transform: rotate(0.25turn);
}
