// modular scale (5:6, minor third)

$ms-1-size: 3.7325rem;
$ms-2-size: 3.1104rem;
$ms-3-size: 2.592rem;
$ms-4-size: 2.16rem;
$ms-5-size: 1.8rem;
$ms-6-size: 1.5rem;
$ms-7-size: 1.25rem;
$ms-8-size: 1.0417rem;

@mixin ms-1 {
  font-size: $ms-1-size;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

@mixin ms-2 {
  font-size: $ms-2-size;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

@mixin ms-3 {
  font-size: $ms-3-size;
  letter-spacing: -0.08rem;
  line-height: 1.3;
}

@mixin ms-4 {
  font-size: $ms-4-size;
  letter-spacing: -0.05rem;
  line-height: 1.3;
}

@mixin ms-5 {
  font-size: $ms-5-size;
  letter-spacing: -0.03rem;
  line-height: 1.5;
}

@mixin ms-6 {
  font-size: $ms-6-size;
  font-weight: 700;
}

@mixin dropShadow {
  box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.06),
    0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.12);
}

@mixin tableBorder {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

// Colors:
$c-red: #721817;
$c-yellow: #fa9f42;
$c-blue: #2b4162;
$c-green: #0b6e4f;
$c-grey: #e0e0e2;
$c-foreground: #eeeeee;

// Media breakpoints
@mixin enhanceForMedia($media) {
  @if $media == tablets {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $media == widescreen {
    @media only screen and (min-width: 1824px) {
      @content;
    }
  }
}
