@import '../../styles/base';

.PitStopTable__header {
  text-align: center;
}

.PitStopTable__title {
  @include ms-5();
}

.PitStopTable__table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
