.TitleBlock {
  margin-top: 1rem;
}

@mixin TitleBlock__block {
  display: block;
  text-align: center;
  background: #444444;
  color: white;
}

.TitleBlock__main {
  @include TitleBlock__block();
  padding: 1rem 0;
}

.TitleBlock__main--small {
  padding: 0;
}

.TitleBlock__entry {
  @include TitleBlock__block();
  margin-top: 1rem;
  padding: 1rem 0;
}
