@import '../../styles/base';

.TitleBlock {
  margin-top: 1rem;
}

.TitleBlock__banner {
  display: block;
  text-align: center;
  background: #444444;
  color: white;
  margin-top: 1rem;
}

.TitleBlock__banner--normal {
  @include ms-4();
  padding: 1rem 0;
}

.TitleBlock__banner--small {
  @include ms-5();
  padding: 0;
}
