@import '../../styles/base';

.TitleBlock {
  margin-top: 1rem;
}

.TitleBlock__banner {
  display: block;
  text-align: center;
  color: #eeeeee;
  margin-top: 1rem;
  @include dropShadow();
  border-radius: 0.2rem;
}

.TitleBlock__banner--normal {
  @include ms-4();
  padding: 1rem 0;
}

.TitleBlock__banner--small {
  @include ms-5();
  padding: 0;
}

.TitleBlock__banner--entry {
  background: $c-blue;
}

.TitleBlock__banner--race {
  background: $c-red;
}
