@import '../../styles/base';

.TitleBlock {
  margin-top: 1rem;
}

.TitleBlock__banner {
  display: block;
  text-align: center;
  // color: #eeeeee;
}

.TitleBlock__banner--normal {
  @include ms-4();
  padding: 1rem 0;
  border-bottom: 3px solid rgba(114, 24, 23, 1);
  border-radius: 0.2rem;
}

.TitleBlock__banner--small {
  @include ms-5();
  padding: 0;
}

.TitleBlock__banner--entry {
  color: $c-blue;
}

.TitleBlock__banner--race {
  color: $c-red;
}
