@import '../../styles/base';

.Footer {
  font-size: $ms-7-size;
  margin-top: 2rem;
}

.Footer__line {
  $hr-color: rgba(0, 0, 0, 0.05);
  border-color: $hr-color;
  background-color: $hr-color;
  color: $hr-color;
}

.Footer--centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Footer__link {
  color: lighten($c-blue, 20%);

  @include enhanceForMedia(tablets) {
    margin-bottom: 1rem;
  }
}

.Footer__link--black {
  color: #000000;
}

// .Footer__link:visited {
// }
