@import './styles/base';

html {
  font-size: 10px;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.6;
  background: #ffffff;
}

table {
  border-collapse: collapse;
}

p {
  margin-top: 1rem;
}

.root {
  max-width: 800px;
  margin: auto;
  padding: 0 2em 1em;

  @include enhanceForMedia(desktop) {
    max-width: 1280px;
  }
}

.unadorned-link {
  text-decoration: none;
  color: inherit;
}

.heading {
  margin-bottom: 1.5rem;
}

.loading {
  margin-top: 1.5rem;
  text-align: center;
}

button {
  font-family: $font;
  font-size: 1.5rem;
  line-height: 1.6;
}

.button {
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.4rem;
  text-decoration: none;
  cursor: pointer;
  font-family: $font;
  font-size: 1em;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
