@import './styles/base';

html {
  font-size: 10px;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.6;
  background: #ffffff;
}

table {
  border-collapse: collapse;
}

p {
  margin-top: 1rem;
}

.root {
  max-width: 800px;
  margin: auto;
  padding: 0 2em 1em;

  @include enhanceForMedia(desktop) {
    max-width: 1280px;
  }
}

.unadorned-link {
  text-decoration: none;
  color: inherit;
}

.heading {
  margin-bottom: 1.5rem;
}
