@import '../../styles/base';

.DriverComparisonTable__header {
  text-align: center;
}

.DriverComparisonTable__title {
  @include ms-5();
}

.DriverComparisonTable__table {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
}

.DriverComparisonTable__cell--heading {
  font-size: $ms-8-size;
  @include tableBorder;

  @include enhanceForMedia(tablets) {
    font-size: $ms-7-size;
  }
}

.DriverComparisonTable__cell--data {
  font-size: $ms-7-size;

  @include enhanceForMedia(tablets) {
    font-size: inherit;
  }
}
