@import '../../styles/base';

.DriverComparisonTable__header {
  text-align: center;
}

.DriverComparisonTable__title {
  @include ms-5();
}

.DriverComparisonTable__chart-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.DriverComparisonTable__chart {
  width: 25rem;
  margin: 0 auto;
}
