@import '../../styles/base';

.DriverComparisonTable__header {
  text-align: center;
}

.DriverComparisonTable__title {
  @include ms-5();
}

.DriverComparisonTable__table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
