@import '../../styles/base';

.AboutPage {
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;

  background: url('/reynier-carl-685971-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;

  @include enhanceForMedia(tablets) {
    padding: 0 2em;
  }
}

.AboutPage__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto 10rem;
  padding: 3em 2em;

  background: hsla(0, 0%, 100%, 0.85);
  border-radius: 0.2rem;

  @include enhanceForMedia(tablets) {
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem;
    min-height: initial;
    background: hsla(0, 0%, 100%, 0.9);
  }
}

.AboutPage__titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  text-align: center;
}

.AboutPage__title {
  @include ms-2;
}

.AboutPage__subtitle {
  @include ms-5;
  margin-top: 1em;
}

.AboutPage__getStarted {
  margin-top: 1em;
  background-color: $c-blue;
  color: $c-foreground;
}

.AboutPage__getStarted:hover {
  background-color: lighten($c-blue, 10%);
}

.AboutPage__caption {
  margin-top: 1em;
  @include ms-5;
  text-align: center;
}

.AboutPage__image {
  max-width: 100%;
}

.AboutPage__carousel {
  display: flex;
  flex-flow: column nowrap;
  min-height: 40rem;

  @include enhanceForMedia(tablets) {
    justify-content: center;
  }
}

.AboutPage__carouselContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
