@import '../../styles/base';

.AboutPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 10rem;

  @include enhanceForMedia(tablets) {
    grid-template-columns: 1fr 1fr;
    margin-top: 15rem;
  }
}

.AboutPage__titles {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  text-align: center;
}

.AboutPage__title {
  @include ms-2;
}

.AboutPage__subtitle {
  @include ms-5;
  margin-top: 1em;
}

.AboutPage__getStarted {
  margin-top: 1em;
  background-color: $c-blue;
  color: $c-foreground;
}

.AboutPage__getStarted:hover {
  background-color: lighten($c-blue, 10%);
}

.AboutPage__caption {
  margin-top: 1em;
  @include ms-5;
  text-align: center;
}

.AboutPage__image {
  max-width: 100%;
}
